/* volume bar */
.volumeAmbient, .volumeNature, .volumeASMR {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgba(40,40,40,1);
    border-radius: 10px;
}
.volumeBarAmbient, .volumeBarNature, .volumeBarASMR {
    display: block;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(130,130,130,1);
    z-index: 10;
    width: 90%;
    border-radius: 10px;
}