body,
html {
    height: 100%;
    margin: 0;
}

.footer {
    padding: 70px 0px 30px 0px;
    text-align: center;
}

#main-bg {
    background: url('../images/backgrounds/beach.jpg') no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.donate-button-wrapper {
    position: absolute;
    left: auto;
    margin-top: -130px;
}

#donate-button {
    margin-top: 4px;
    height: 2em;
}

.form-check-input:checked {
    background-color: slategray !important;
    border: 0;
}
.form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem slategray !important;
}

#meditation-support {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 40px;
    color: whitesmoke;
    border: 3px solid rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: none;
}

.meditation-support-time {
    display: none;
}

.table {
    width: 60%;
    margin: auto;
}

#meditation-support-label {
    font-size: 18px;
}

.test {
    border: 1px solid red;
}

.btn-group-vertical>.btn {
    width: 200px;
}

.form-check-input:focus ~ .form-check-label::before {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 47, 69, 0.25) !important;
}

.form-check-input:checked ~ .form-check-label::before {
    border-color: red !important;
    background-color: red !important;
}

.form-check-input:active ~ .form-check-label::before {
    background-color: red !important;
    border-color: red !important;
}

.form-check-input:focus:not(:checked) ~ .form-check-label::before {
    border-color: red !important;
}

.custom-control-input-green:not(:disabled):active ~ .custom-control-label::before {
    background-color: red !important;
    border-color: red !important;
}

/*.content-wrapper {
    width: 100%;
    margin: auto;
}*/

.container-fluid {
    border: 1px solid red;
}

.card {
    background-color: rgba(0, 0, 0, .5);
    width: 300px;
    cursor: pointer;
    display: inline-block;
}

.card:active {
    transform: scale(0.96);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity */
    overflow-x: hidden;
    overflow-y: scroll;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #202428;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}



/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 7%;
    /* 7% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* 
 * When the height of the screen is less than 412 pixels, 
 * change the font-size of the links and position the close button again, 
 * so they don't overlap 
*/
@media screen and (max-width: 800px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 5px;
        right: 35px;
    }
    
    .btn-footer {
        margin-top: 4px;
    }
}

@media screen and (max-width: 1400px) {
    .card {
        margin-bottom: 4px;
    }
}

